@model MenuProject.Components.MenuViewModel

<nav class="sidebar bg-dark text-white p-3 vh-100" style="width: 250px;" id="sidebar-menu">

    <ul class="nav flex-column">
        @foreach (var menu in Model.MainMenus)
        {
            var subMenuItems = Model.SubMenus.Where(sm => sm.ParentId == menu.Id).ToList();
            var url = menu.ControllerName == "Admin"
                ? Url.Action(menu.ActionName, menu.ControllerName, new { area = "Admin" })
                : Url.Action(menu.ActionName, menu.ControllerName);

            if (subMenuItems.Any()) // Alt menü varsa dropdown
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white d-flex align-items-center" href="#" id="menu-@menu.Id" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg class="icon me-2">
                            <use xlink:href="@Url.Content($"~/assets/icons/sprites/free.svg#{menu.Icon}")"></use>
                        </svg>
                        @menu.Name
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="menu-@menu.Id">
                        @foreach (var subMenu in subMenuItems)
                        {
                            var subUrl = subMenu.ControllerName == "Admin"
                                ? Url.Action(subMenu.ActionName, subMenu.ControllerName, new { area = "Admin" })
                                : Url.Action(subMenu.ActionName, subMenu.ControllerName);

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="@subUrl">
                                    <svg class="icon me-2">
                                        <use xlink:href="@Url.Content($"~/assets/icons/sprites/free.svg#{subMenu.Icon}")"></use>
                                    </svg>
                                    @subMenu.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            else // Alt menü yoksa
            {
                <li class="nav-item">
                    <a class="nav-link text-white d-flex align-items-center" href="@url">
                        <svg class="icon me-2">
                            <use xlink:href="@Url.Content($"~/assets/icons/sprites/free.svg#{menu.Icon}")"></use>
                        </svg>
                        @menu.Name
                    </a>
                </li>
            }
        }
    </ul>
</nav>
